@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*-

body{
    font-family: 'Jost', sans-serif;
    
}
.container-fluid{
    padding: 0;
     overflow: hidden;
    
}

-------*/

/*-------------------------------------------HEADER- AND-LOGO--------------------------------HEADER--AND LOGO----------HEADER--LOGO---------------*/
header{
    
    margin: 0px;
    padding: 0px;
}
   
header nav.bg-blue{
    background-color:rgb(0,73,83,0.9)!important;
}


#main-logo {
        float:left;
        font-family: 'Merriweather', serif;
        font-size:280%;
        margin-left:50px;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #ffffff;
        text-decoration: none;
        line-height: 75px;
        height: 75px;
}

header div #watchword {
    color: #ffffff;
    font-size: 80%;
    display: block;
    clear: both;
    margin-left: 100px;
    margin-top: 0;
    
}

div .caption {
    float:right;
    color: #ffffff;
}

div .caption a .joinus {
    margin: 30px;
    padding-left: 20px;
    font-family: 'Merriweather', serif;
    
}

/*-------------------------------------------NEW-PAGE-HEADER-------------------*/
.newpage-header {
    margin: 0;
    border: 0;
    text-align: center;

}

.newpager-header h2 {
    margin-top: 0;
}


/*-------------------------------------------COLOR----------------------------------COLOR-----------COLOR------------------------------------------------*/

nav .my-nav #nav {
    background-color: #6f2c3f;
}

.navitems a {
    color: #ffffff;
}

.sectional-container--orangecolor{
    background-color: rgb(255,36,0, 0.8);
    color: #ffffff;
}



header div #watchword {
    color: #ffffff;
    font-size: 80%;
    display: block;
    clear: both;
    margin-left: 100px;
    margin-top: 0;
    
}

h2, h3, h4, h5 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
    line-height: 20px;
}

/*-------------------------------------------NAVIGATION-LINK----------------------------------NAVIGATION-LINK-----------NAVIGATION-LINK---------------*/

.bg-dark {
    padding: 0px;
    border: 0;
    background-color:#922724!important;
}

nav div ul.my-nav {
    width: 100%;
    
}

.linkzcontainer {
    font-size: 0;
}
#nav li {
    font-size: 14px;
}

#nav {
    margin: 0;
}

.navitems {
    height: 75px;
    text-align: center;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0px;
    text-transform: uppercase;
}

.navitems a {
    width: 100%;
    text-decoration: none;
    height: 75px;
}

.navitems a i {
    padding-top: 5px;
    display: block;
    color:#ffffff;
    font-size: 30px;
}


.navitems a span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.navbar .center {
    text-align: center;
}


/*--------------------------------------------Hover.css*.......................................................-----------------------------...*/

.hvr-bounce-to-top:before {
    background: rgba(185, 14, 14, 0.8);
    height: 80px;
}



/*-------------------------------------------BODY-HERO-IMAGE-------------------------------BODY-HERO-IMAGE---------BODY-HERO-IMAGE----------------*/

#fieldimage {
    background: url("../images/field.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#fieldimage-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
}


#fieldimage-outer #fieldimage .overlay-tex {
        font-size:130%;
        font-display:"Roboto", sans-serif;
        text-transform:uppercase;
        letter-spacing:3px;
        text-align: center;
        

        width: 400px;
        min-height: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        

        color: #ffffff; 
        
        background-color: #5a172a;

        position:absolute;
        top: 5%;
        right: 5%;
        

}


/*-------------------------------------------FOOD-CLIMATE-ARTICLE------------------------------FOOD-CLIMATE-ARTICLE-----------------------E-----------------*/

#intro-food-climate {
    height: 600px;
}
 #about-container,
 .vision-container,
 .strategy-container
 .support-container,
.foodclimate-text-container {
    margin: 0;
    padding: 0;
    background-color: rgb(213, 223, 228, 0.2);
}


.foodclimate-text-container h2  {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 25px;
    font-weight: 700;
}

 #foodclimate-text p {
    text-align: center;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style: italic;
}



/*--------------------------------------------IFRAME--FOOD-CLIMATE-----------------------------IFRAME--FOOD-CLIMATE-ARTICLE-----------------------E-----------------*/
.iframe-container {
    
     width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin-top: 75px; 
    position: relative; 
 }
.d-iframe {
    width: 100%;
    height: 100%;
}

 div .iframe-container .d-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;  
 }


/*-------------------------------------------SDG-MANDATE------------------------------------------------------SDG-MANDATE---------------SDG-MANDATE--------*/
.sdg-mandate-cover {
    min-height: 600px;
    clear: both;
    background-color: #003d52;
    margin-top: 75px 0;
    position: relative;
    align-items: center;
}

.sdg-mandate h3 {
    text-align: center;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 700;
}

div .sdg-mandate-cover .card {
    width: 20%;
    margin: 10%;
    float: left;
    overflow: hidden;
    position: absolute;

}

.card a {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

div .sdg-mandate-cover .card a img {
    width: 100%;
    height: 180px;
}

/*-------------------------------------------ABOUT-TEXT-AND-IMAGE----------------------------------------------------ABOUT-TEXT-AND-IMAGE------*/
.sectional-container {
    height: 600px;
}

div #about-container {
    background-color: rgba(8, 39, 54, 0.2);
    margin: 0;
    padding: 0;
}
.newpage-header h2  {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}

#about-container #contenttext-about h3  {
    text-transform: capitalize;
    text-align: center
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 25px;
    font-weight: 700;
}

 #about-container #contenttext-about p {
    text-align: center;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style: italic;
}


/*-------------------------------------------VISION-IMAGE-------------------------------------------------------VISION-IMAGE--------------VISION-IMAGE-------*/

div #visionimage {
     background: url("../images/visionimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
div #visionimag {
     padding-bottom: 75px;
 }

 .sectional-container{
    height: 600px;
}
.vision-containe, .strategy-container {
    margin: 0;
    padding: 0;
    background-color: rgb(213, 223, 228, 0.2);
}

  .vision-container .content-text h3 {
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 25px;
    font-weight: 700;
}

 
.content-text h3 {

    text-align: left;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style: italic;
}



 .strategy-container h3 {
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align:center;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 25px;
    font-weight: 700;
}
.content-text .strategy-li,
.content-text p,
.strategy-container p {

    text-align: center;
    margin-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5emx;
    font-size: 1.3em;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style: italic;
}

/*-------------------------------------------PARTNERSHIP-IMAGE-----------------------------------------------------------PARTNERSHIP-IMAGE-------*/

.partnershipimages {
     background: url("../images/partnershipimages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}



/*-------------------------------------------GALLERY-IMAGE-------------------------------------------------------GALLERY-IMAGE-------------------*/


 #galleryimgage {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;

}

#galleryimgage img {
     float: left;
    width: 20%;
    margin: 2%;
    padding: 5px 0;
}

/*-------------------------------------------SUPPORT-SECTION-----------------------------------------------------SUPPORT-SECTION----------------------*/
#imagesupport {
    background: url("../images/imagesupport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#imagesupport-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
}

#imagesupport-outer #imagesupport .covertext h2 {
        font-size:200%;
        font-display:"Roboto", sans-serif;
        text-transform:uppercase;
        letter-spacing:4px;
        text-align: center;
        

        width: 400px;
        min-height: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        color: #ffffff; 
        
        background-color: #48929b; 

        
        bottom:30px;
        right:150px;

        position:absolute;
        top: 5%;
        right: 5%;
        
}




/*-------------------------------------------SECTIONIONAL-CONTAINER----------------------------------------------------SUPPORT-SECTION----------------------*/



/*-------------------------------------------FOOTER-SECTION----------------------------------------------------FOOTER-SECTION----------------------*/

footer {
    background-color: #6f2c3f;
    color: #777777;
    min-height: 120px;
    margin: 0;
}
footer .our-strenght {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}


.social-media {
    padding-bottom: 15px;
}

div h5 ul.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-media li a i:hover {
    background: #e84610;
}

#footer-contents {
    padding: 20px;
}

footer .contacts {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.footer-header {
    color: #ffffff;
    text-align: center;
    
}
