@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: inherit;
}

/*----------------------------------------header-and-logo---*/

header{
    margin: 0px;
    padding: 0px;
}
   

#main-logo {                                    
        float:left;
        font-family: 'Merriweather', serif;
        font-size: 280%;
        margin-left: 0px;
        margin-bottom: 0;
        padding-bottom: 2px;
        padding-left: 50px;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;
        text-decoration: none;
        line-height: 75px;
        height: 75px;

}

/*----------------------Some-generalStyling-forALL-sections---*/

.newpage-header {
    margin: 0;
    border: 0;
    text-align: center;

}

.newpager-header h2 {
    margin-top: 0;
}


.sectional-container {
    margin-top: 75px;
    margin-bottom: 10px;
    
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(213, 223, 228, 0.2);
}

h3, h4, h5 {
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
    line-height: 20px;
}


.newpage-header h2  {
    text-transform: uppercase;
    margin-top: 25px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}


.content-text h3 {
    padding: 15px;
    text-transform: capitalize;
    line-height: 25px;
    font-weight: 700;
    font-family: 'Merriweather Sans', sans-serif;
    color: #05041a;
    font-style: normal;
     text-align: center;
     letter-spacing: 2px;
}


 #about-container,
 .vision-container,
 .WhyPartner-container,
 .mission-container,                         
.foodclimate-text-container {
    margin: 0;
    padding: 0;
    background-color: rgb(213, 223, 228, 0.2);
}

/*--------------------------------------------navigationLink---*/

.bg-dark {
    padding: 0px;
    border: 0;
    background-color:#5a172a!important;
}


nav div ul.my-nav {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


.navitems {
    height: 75px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0px;
    text-transform: uppercase;
}

.navitems a {
    width: 100%;
    text-decoration: none;
    height: 75px;
    margin: 0 5px;
    color: #ffffff;
}


.navitems a i {
    padding-top: 5px;
    display: block;
    color:#ffffff;
    font-size: 30px;
}

.navitems a span {
    width: 100%;                               
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
  
}


.navbar.center {
    text-align: center;
}

/*---------------------------------------hoverEffect--navbar---*/

.hvr-bounce-to-bottom:before {
    background: rgba(255,36,0, 0.8);
}
  

/*---------------------------------------------------modal-form---*/

.buttonIcon {
    width: 200px;
    margin-right: 3%;
    padding: 2px;
}
 
#modalFormdiv  {
    text-align: center;
}


.modalForm {
    font-weight: bold;
    
}

 /*-----------------------------------------carousel-homePage---*/

#carouslzz {
        overflow: hidden;
        margin-top: 120px;
        margin-bottom: 10px;
        padding-right: 0px;
         padding-left: 0px;

}


.piz {        
   max-height: 600px;
    
}

/*---------------------------------------carousel-overlayText---*/

#fieldimage-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 45px;
         margin-left: -180px;
         z-index: 1;
}


#fieldimage-outer #fieldimage .overlay-tex {
        font-size:130%;
        font-family:"Roboto", sans-serif;
        text-transform:uppercase;
        letter-spacing:4px;
        text-align: center;
        

        width: 400px;
        min-height: 500px;
        padding: 30px 20px;        
        color: #ffffff; 
        background-color: rgba(23,42,90, 0.7);  
        
}

/*---------------------------------------foodClimate-article---*/

 #foodclimate-text p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 0;
    padding-left: 1.0em;
    padding-right: 1.0em;
    line-height: 1.88em;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style: normal;
    padding-bottom: 1.25em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (orientation : portrait) {
     #intro-food-climate {
         margin-top: 50px;
    }
}

/*---------------------------------------------iframe-foodClimate---*/

.iframe-container {
    
    margin-bottom: 50px;
    margin-top: 75px; 
    position: relative; 

 }

.my-new-class {
    width: 100%; 
    height: 100%;;
}

iframe{
    border-width: 0px;
}


/*----------------------------------------------SDG-mandate---*/

.sdg-mandate-cover {
    clear: both;
    background-color: #003d52;
    margin-top: 75px;
    position: relative;
    padding-bottom: 25px;
   
}


.sdg-mandate h3 {
    text-align: center;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 25px;
    margin-bottom: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 700;
}


.sdg-mandate-cover .card {
    width: 90%;
    margin: 10% 5%;
    float: left;
    overflow: hidden; 
    text-decoration: none;
}


.card a {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
}



div .sdg-mandate-cover .card a img {
    width: 100%;
    height: 150px;
}

 /*--------------------------------------------aboutArticle----*/


#about-container #contenttext-about h3  {

    margin-top: 15px;
    margin-bottom: 25px;
}

.content-text h3 {
    padding: 15px;
    text-transform: capitalize;
    line-height: 25px;
    font-weight: 700;
    font-family: 'Merriweather Sans', sans-serif;
    color: #05041a;
    font-style: normal;
     text-align: center;
     letter-spacing: 2px;
}


 #about-container #contenttext-about p {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style:normal;
    padding-bottom: 15px;
}


/*------------------------------------------visionSection-image---*/


div #visionimage {                                             
    background: url("../images/visionimage.jpg");
    background-position: center;                      
    background-repeat: no-repeat;
     min-height: 315px;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    
}

div #visionimage {
     padding: 5%;

     
 }

    .mediaVisioniImage {
            width: 100%;
            background-size: 100% 70%;
    }

/*------------------------------------vision-mission-and-how-articles---*/

.content-text p.howCon,
.content-text .vision,
.content-text .mission {

    margin-bottom: 0;
    padding-left: 1.5rem;
     text-align: center;
    padding-bottom: 0.8rem;
    padding-right: 0.8em;
    font-size: 1.1rem;
    font-style: italic;
     color: #05041a;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    
}

/*------------------------------------------------whyPartnership-section---*/

.content-text #howTitle,
.WhyPartner-container .content-text h3  {
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: 'Merriweather Sans', sans-serif; 
    line-height: 30px;

}


.WhyPartner-container .content-text p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: #05041a;
    font-style: normal;
    padding-bottom: 15px;
}


div .col.content-text {
     background-color: #d5dfe433;
}

/*-------------------------------------------------image-whyPartnership---*/

.partnershipimages {                                        
     background: url("../images/partnershipimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 315px;
    width: 35%; 
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.partnershipimages {
     padding-left: 25%;
     padding-right: 25%;
     box-sizing: border-box;
    
 }

 .mediaPartneriImage {
            background-size: 100% 70%;
}

/*-------------------------------------------------gallery-carousel---*/


.newpage-header #gallery {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
     padding-bottom: 10px;
     letter-spacing: 2px;
}


/*--------------------------------------------------image-supportSection---*/


#imagesupport-outer {                      
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 75px;
        margin-bottom: 20px;
}


#imagesupport {                                                  
    background: url("../images/imagesupport.jpg");
    background-position: center;
    background-repeat: no-repeat;                                       
    background-size: cover;
    min-height: 600px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*--------------------------------------imageSupport-overlayText---*/

#imagesupport-outer #imagesupport .covertext h2 {
        font-size:200%;
        font-family:"Roboto", sans-serif;
        text-transform:uppercase;
        letter-spacing:4px;
        text-align: center;
        

        width: 400px;
        min-height: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        color: #ffffff; 
        
        background-color: #48929b; 

        
        bottom:30px;
        right:150px;

        position:absolute;
        top: 5%;
        right: 5%;
        
}

/*-------------------------------------------------supportArticle---*/

.sectional-container--orangecolor{
    background-color: rgba(255,36,0, 0.9);
    color: #ffffff;
    margin-top: 75px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}


.support-parag P {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    padding-left: 1em;
    padding-bottom: 10px;
    padding-right: 1em;
    font-size: 1.1em;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
.support-parag h3 {
    text-align: center;
    line-height: 30px;
  }

/*--------------------------------------------------footer-section---*/

footer {
    background-color:#5a172a;
    color: #777777;
    min-height: 120px;
    margin-top: 30px;
}
footer .our-strenght {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

/*--------------------footer-socialMedia---*/

.social-media {
    padding-bottom: 15px;
    text-align:center;
}

div ul.social-media li a {
    text-align: center;
}
                                
div ul.social-media li a i {
    width: 2.0em;
    height: 2.0em;
    margin: 3%;
    padding: 5%;
    border-radius: 25%;
    font-size: 2.0em;
    line-height: 2.0em;
    text-align: center;
    color: #fafafa;
    background: rgba(0,73,83,0.9);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgba(255,36,0, 0.8);
}


#footer-contents {
    padding: 20px;
}


      /*--------------------footer-contacts---*/

footer .contacts {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.footer-header {
    color: #ffffff;
    text-align: center;
    
}

