@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Merriweather:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/*-------------------------------------------HEADER- AND-LOGO--------------------------------HEADER--AND LOGO----------HEADER--LOGO---------------*/
header{
    
    margin: 0px;
    padding: 0px;
}
   
header nav.bg-blue{
    background-color:rgb(0,73,83,0.9)!important;
}


#main-logo {
        float:left;
        font-family: 'Merriweather', serif;
        font-size:280%;
        margin-left:50px;
        margin-bottom:0
        padding-bottom: 0;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #ffffff;
        text-decoration: none;
        line-height: 75px;
        height: 75px;
}

header div #watchword {
    color: #ffffff;
    font-size: 80%;
    display: block;
    clear: both;
    margin-left: 100px;
    margin-top: 0;
    
}

div .caption {
    float:right;
    color: #ffffff;
}

div .caption a .joinus {
    margin: 30px;
    padding-left: 20px;
    font-family: 'Merriweather', serif;
    
}

/*-------------------------------------------NEW-PAGE-HEADER-------------------*/
.newpage-header {
    margin: 0;
    border: 0;
    text-align: center;

}

.newpager-header h2 {
    margin-top: 0;
}


/*-------------------------------------------COLOR----------------------------------COLOR-----------COLOR------------------------------------------------*/

nav .my-nav #nav {
    background-color: #6f2c3f;
}

.navitems a {
    color: #ffffff;
}

.sectional-container--orangecolor{
    background-color: rgb(255,36,0, 0.8);
    color: #ffffff;
}



header div #watchword {
    color: #ffffff;
    font-size: 80%;
    display: block;
    clear: both;
    margin-left: 100px;
    margin-top: 0;
    
}

h2, h3, h4, h5 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
    line-height: 20px;
}

/*-------------------------------------------NAVIGATION-LINK----------------------------------NAVIGATION-LINK-----------NAVIGATION-LINK---------------*/

.bg-dark {
    padding: 0px;
    border: 0;
    background-color:#922724;
}

nav div ul.my-nav {
    width: 100%;
    
}

.linkzcontainer {
    font-size: 0;
}
#nav li {
    font-size: 14px;
}

#nav {
    margin: 0;
}

.navitems {
    height: 75px;
    text-align: center;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0px;
    text-transform: uppercase;
}

.navitems a {
    width: 100%;
    text-decoration: none;
    height: 75px;
}

.navitems a i {
    padding-top: 5px;
    display: block;
    color:#ffffff;
    font-size: 30px;
}


.navitems a span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.navbar .center {
    text-align: center;
}


/*--------------------------------------------Hover.css*.......................................................-----------------------------...*/

.hvr-bounce-to-top:before {
    background: rgba(185, 14, 14, 0.8);
    height: 80px;
}



/*-------------------------------------------BODY-HERO-IMAGE-------------------------------BODY-HERO-IMAGE---------BODY-HERO-IMAGE----------------*/

#fieldimage {
    background: url("../images/field.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#fieldimage-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
}


#fieldimage-outer #fieldimage .overlay-tex {
        font-size:130%;
        font-display:"Roboto", sans-serif;
        text-transform:uppercase;
        letter-spacing:3px;
        text-align: center;
        

        width: 400px;
        min-height: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        

        color: #ffffff; 
        
        background-color: #5a172a;

        position:absolute;
        top: 5%;
        right: 5%;
        

}


/*-------------------------------------------FOOD-CLIMATE-ARTICLE------------------------------FOOD-CLIMATE-ARTICLE-----------------------E-----------------*/

#intro-food-climate {
    height: 600px;
}

#intro-food-climate #foodclimate-text {
    padding-top: 30px;
    background-color: rgb(213, 223, 228, 0.2);

}


/*--------------------------------------------IFRAME--FOOD-CLIMATE-----------------------------IFRAME--FOOD-CLIMATE-ARTICLE-----------------------E-----------------*/
.iframe-container {
    
    margin-bottom: 50px;
    margin-top: 75px;
 }


 .iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 15px;
 }


/*-------------------------------------------SDG-MANDATE------------------------------------------------------SDG-MANDATE---------------SDG-MANDATE--------*/
section .sdg-mandate-cover {
    min-height: 600px;
    clear: both;
    background-color: #003d52;
    padding-top: 4opx;
    padding-bottom: 40px;
    overflow: hidden;
    margin-top: 75px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    align-items: center;
}

.card {
    width: 80%;
    height: 300px;
    margin: 5%;

}

.card a {
    text-align: center;
}

.card a img {
    width: 100%;
    height: 180px;
}

.sdg-mandate h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    padding-top: 30px;
}


/*-------------------------------------------ABOUT-TEXT-AND-IMAGE----------------------------------------------------ABOUT-TEXT-AND-IMAGE------*/

div #about-sectional-container {
    height: 600px;
    background-color: rgba(8, 39, 54, 0.2);
}





/*-------------------------------------------VISION-IMAGE-------------------------------------------------------VISION-IMAGE--------------VISION-IMAGE-------*/



div #visionimage {
     background: url("../images/visionimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
div #visionimag {
    
    
    padding-bottom: 75px;
 }

/*-------------------------------------------PARTNERSHIP-IMAGE-----------------------------------------------------------PARTNERSHIP-IMAGE-------*/

.partnershipimages {
     background: url("../images/partnershipimages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}



/*-------------------------------------------GALLERY-IMAGE-------------------------------------------------------GALLERY-IMAGE-------------------*/


 #galleryimgage {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;

}

#galleryimgage img {
     float: left;
    width: 20%;
    margin: 2%;
    padding: 5px 0;

}

/*-------------------------------------------SUPPORT-SECTION-----------------------------------------------------SUPPORT-SECTION----------------------*/
#imagesupport {
    background: url("../images/imagesupport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#imagesupport-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
}

#imagesupport-outer #imagesupport .covertext h2 {
        font-size:200%;
        font-display:"Roboto", sans-serif;
        text-transform:uppercase;
        letter-spacing:4px;
        text-align: center;
        

        width: 400px;
        min-height: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        color: #ffffff; 
        
        background-color: #48929b; 

        
        bottom:30px;
        right:150px;

        position:absolute;
        top: 5%;
        right: 5%;
        
}




/*-------------------------------------------SECTIONIONAL-CONTAINER----------------------------------------------------SUPPORT-SECTION----------------------*/

.sectional-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.content-text {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

}


/*-------------------------------------------FOOTER-SECTION----------------------------------------------------FOOTER-SECTION----------------------*/

footer {
    background-color: #6f2c3f;
    color: #777777;
    min-height: 120px;
    margin: 0;
}
footer .our-strenght {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}


.social-media {
    padding-bottom: 15px;
}

div h5 ul.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}





.social-media li a i:hover {
    background: #e84610;
}

#footer-contents {
    padding: 20px;
}

footer .contacts {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.footer-header {
    color: #ffffff;
    text-align: center;
    
}
